:root{
    /** Colores **/
    --primario: #4D2C01;
    --secundario: #FFBC01;
    --terciario: #BE6C00;
    --claro: #DDC087;
    --gris: #BBBBBB;
    --grisClaro: #E8EAE3;
    --grisOscuro: #333333;
    --blanco: #FFF;
    --negro: #1F1E1E;
    
    /** Fuentes **/
    --fuentePrincipal: 'Ubuntu', sans-serif;
    --fuenteSecundaria: 'Open Sans', sans-serif;
    
    /*Separación*/
    --separacion: 5rem;
}




.header.header--index{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 0.250)), url('../img/fondoHeader.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 3rem;
}

@media (min-width: 768px) { 
    .header.header--index{
        height: 55rem;
        padding-bottom: 0;
    }
}

.header__texto--primario h1,
.header__texto--secundario p{
    text-align: center;
    color: var(--blanco);
}

@media (min-width: 768px) { 
    .header__texto--primario h1{
        text-align: left;
    }
}
@media (min-width: 768px) { 
    .header__texto--secundario p{
        text-align: right;
    }
}

.header__barra{
    padding-top: var(--separacion);
    position: relative;
}

@media (min-width: 768px) { 
    .header__barra{
        display: flex;
        justify-content: flex-end;
        background-color: rgba(0, 0, 0, 0.400);
        padding-top: 0;
        padding: var(--separacion);
    }
}

.header__barra.header__barra--pagina{
    padding: 5rem 0;
    position: relative;
}

@media (min-width: 768px) {
    .header__barra.header__barra--pagina{
        padding: 3rem 2rem;
    }
}

.header__barra.header__barra--pagina{
    /* background-color: rgba(0, 0, 0, 0); */
    background-color: var(--primario);
}

.header__logo{
    width: 20rem;
    margin: 0 auto 3rem auto;
    
}

@media (min-width: 768px) { 
    .header__logo{
        margin: 0;
        position: absolute;
        left: 40px;
        top: 30px;
    }
    .header__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 4rem;
        align-items: center;
    }

    .header__contenedor{
        margin: 12rem auto;
    }
}

.header__barra.header__barra--pagina > .header__logo {
    margin: 0;
    position: absolute;
    top: -.5rem;
    right: -9.5rem;
}

@media (min-width: 768px) {
    .header__barra.header__barra--pagina > .header__logo {
        top: 3.4rem;
        right: 0;
    }
}
@media (min-width: 1280px) {
    .header__barra.header__barra--pagina > .header__logo {
        top: 1.4rem;
        right: 0;
    }
}

.header__barra.header__barra--pagina .header__logo img{
    width: 10rem;
}

@media (min-width: 1280px) { 
    .header__barra.header__barra--pagina .header__logo img{
        width: 15rem;
    }
}




.navegacion {
    display: none;
}

@media (min-width: 768px) { 
    .navegacion{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
    }
}

.navegacion__link{
    color: var(--primario);
}

@media (min-width: 768px) { 
    .navegacion__link{
        color: var(--blanco);
        
    }
}

.navegacion__link--blanco{
    color: var(--blanco);
}

.header__heading{
    font-size: 3rem;
    margin: 2rem auto;
    line-height: 1.2;
}

@media (min-width: 768px) { 
    .header__heading{
        text-align: left;
        font-size: 5rem;
    }
}

@media (min-width: 768px) { 
    .header__imagen{
        max-width: 30rem;
        margin: 0 auto;
    }
}

.header.header--pagina{
    /* background-color: rgba(0, 0, 0, 0.400); */
    background-color: var(--primario);
    padding: .5rem;
}

@media (min-width: 768px) { 
    .header.header--pagina{
        /* margin-bottom: 15rem; */
        padding-bottom: 0;
    }
}


.principal__contenedor{
    margin: var(--separacion) auto;
    ;
}

.informacion{
    margin: var(--separacion) auto;
}

@media (min-width: 768px) { 
    .informacion{
        margin: 0;
    }
}


@media (min-width: 768px) { 
    .informacion{
        margin: 3rem auto;
    }
}


.principal__general{
    border-top: 3px solid var(--primario);
    border-bottom: 3px solid var(--primario);
    padding: 3rem;
}

@media (min-width: 768px) { 
    .principal__general{
        padding: var(--separacion);
    }
}

.informacion__heading{
    background-color: var(--secundario);
    font-weight: 400;
    padding: 1rem 0;
}

@media (min-width: 768px) { 
    .principal__grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
    }
}

@media (min-width: 1280px) { 
    .principal__grid{
        
        column-gap: 10rem;
    }
}

.nosotros{
    background-color: var(--primario);
}

.nosotros__contenedor{
    padding-bottom: 3rem;
    max-width: 120rem;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 768px) { 
    .nosotros__contenedor{
        padding: 3rem 0;
        width: 80%;
    }
    .nosotros__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        column-gap: 1rem;
    }
}

@media (min-width: 1280px) { 
    .nosotros__grid{
        column-gap: 3rem;
    }
}



.nosotros__texto{
    width: 90%;
    margin: 0 auto;
    color: var(--blanco);
}

.nosotros__texto h2,
.nosotros__texto p{
    color: var(--blanco);
}

@media (min-width: 768px) { 
    .nosotros__texto{
        grid-row: 1 / 2 ;
        text-align: left;
        margin: 0;
    }
    .nosotros__texto p{
        margin: var(--separacion) auto;
    }
}

.nosotros__imagen{
    object-fit: cover;
}


/*Pagina Tours*/

@media (min-width: 768px) { 
    .paginaTours{
        margin-top: var(--separacion);
    }
}

@media (min-width: 1280px) { 
    .paginaTours{
        margin-top: 10rem;
    }
}

.tours{
    margin: var(--separacion) auto;
}

@media (min-width: 768px) { 
    .tours__contenedor{
        text-align: center;
    }
}

@media (min-width: 768px) { 
    .tours__grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
        margin: var(--separacion) auto;
    }
}

@media (min-width: 1280px) { 
    .tours__grid{
        gap: 4rem;
    }

}


.card__elemento{
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    white-space: break-spaces;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) { 
    .card__elemento{
        margin: 0;
    }
}

.card__elemento h3,
.card__elemento p{
    margin: .5rem;
    display: inline;
    padding: 0 .5rem;
}

.card__elemento h3{
    background-color: var(--terciario);
    margin: .5rem auto .5rem .5rem;
    color: var(--blanco);
}

@media (min-width: 768px) { 
    .card__elemento h3{
        font-size: 2.4rem;
    }
}

.card__elemento p{
    text-align: right;
    background-color: var(--secundario);
    margin: .5rem .5rem .5rem auto;
    
}

@media (min-width: 768px) { 
    .card__elemento p{
        font-size: 1.7rem;
        
    }
}


.card__elemento--1{
    background-image: url('../img/tour_1.png');
}
.card__elemento--2{
    background-image: url('../img/tour_2.png');
}
.card__elemento--3{
    background-image: url('../img/tour_3.png');
}
.card__elemento--4{
    background-image: url('../img/tour_4.png');
}
.card__elemento--5{
    background-image: url('../img/tour_5.png');
}
.card__elemento--6{
    background-image: url('../img/tour_6.png');
}

@media (min-width: 768px) { 
    .tours__boton{
        text-align: center;
    }
}

.testimonios{
    background-color: var(--primario);
    color: var(--blanco);
    padding: var(--separacion) 0;
}

.testimonios__contenedor{
    position: relative;
    border-top: 3px solid var(--blanco);
    border-bottom: 3px solid var(--blanco);
    padding: var(--separacion) 0;
}


.testimonios__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

@media (min-width: 768px) { 
    .testimonios__titulo{
        padding-bottom: var(--separacion);
    }
}



.testimonios__titulo img{
    height: 10rem;
    width: 10rem;
    margin-left: 4rem;
}

.testimonios__titulo h2{
    margin: 0;
    color: var(--blanco);
}



@media (min-width: 768px) { 
    .testimonios__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 5rem;
        row-gap: 2rem;
    }
}

@media (min-width: 1280px) { 
    .testimonios__grid{
        column-gap: 10rem;
    }
}

.testimonio{
    padding-bottom: 3rem;
    position: relative;
}

.testimonio__texto,
.testimonio__autor{
    color: var(--blanco);
}

.testimonio__texto{
    font-style: italic;
    font-weight: 300;
    margin-left: 3rem;
}

@media (min-width: 768px) { 
    .testimonio__texto{
        margin-left: 0;
    }
}


.testimonio__texto::before{
    content: '';
    background-image: url(../img/iconos/icono_comillas_claro.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4rem;
    height: 4rem;
    width: 4rem;
    position:absolute;
    top: -1rem;
    left: -1.5rem;
    
}

@media (min-width: 768px) { 
    .testimonio__texto::before{
        top: 1rem;
        left: -5.5rem;
        background-size: 5rem;
        height: 4rem;
        width: 4rem;
        margin-left: 0;
    }
}

.testimonio__autor{
    text-align: right;
    font-weight: 700;
    margin: 0;
}


.galeria{
    margin-bottom: 3rem;
}

.galeria__grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media (min-width: 768px) { 
    .galeria__grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-bottom: 3rem;
    }
}

.galeria__imagen{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 768px) { 
    .galeria__imagen{
        height: 25rem;
        object-fit: cover;
    }
}

@media (min-width: 1280px) { 
    .galeria__imagen{
        height: 35rem;
        object-fit: cover;
    }
}

.galeria a{
    width: 90%;
}


.premios{
    background: linear-gradient(0deg, rgba(0,0,0,0.250), rgba(0,0,0,0.250)), url('../img/ciudad.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: var(--separacion);
    padding-bottom: 3rem;
}

.premios__titulo h2,
.premios__contenedor p{
    color: var(--blanco);
}


.premios__titulo img{
    height: 10rem;
    width: 10rem;
    margin: 0 auto;
}

.premios__flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media (min-width: 768px) { 
    .premios__flex{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}


.premios__flex img{
    width: 14rem;
    height: 10rem;
    margin: 1.3rem;
}

@media (min-width: 768px) { 
    .premios__flex img{
        width: 10rem;
        height: 8rem;
    }
}

@media (min-width: 1280px) { 
    .premios__flex img{
        width: 18rem;
        height: 14rem;
        margin: 2rem;
    }
}


.footer{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71)), url('../img/galeria_2.png');
    background-size: cover;
    background-position:  top ;
    
}

@media (min-width: 768px) {
    .footer{
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71)), url('../img/galeria_2.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
    }
}

.footer__contenedor{
    padding: 2rem 0;
    width: 90%;
}

.footer__contenedor p{
    color: var(--blanco);
}

@media (min-width: 768px) {
    .footer__grid{
        display: grid;
        grid-template-columns: 21% 21% 29% 25%;
        column-gap: 2rem;
    }
}

@media (min-width: 1280px) {
    .footer__grid{
        grid-template-columns: repeat(4,1fr);
        
    }
}

.footer__logo{
    width: 20rem;
    margin: 0 auto;
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .footer__logo{
        width: 15rem;
        padding-top: 0;
    }
}

.footer h3{
    color: var(--secundario);
    margin: 2rem 0;
}

@media (min-width: 768px) { 
    .footer__menu h3{
        margin-top: 0;
    }
}


.listado__menu{
    list-style: none;
    padding-left: 0;
    
}

.menu__elemento{
    padding-bottom: 1rem;
}

.menu__elemento a{
    text-transform: uppercase;
    font-weight: 400;
    
}

@media (min-width: 768px) {
    .menu__elemento a{
        font-size: 1.8rem;
    }
}


.footer .contacto__informacion{
    color: var(--blanco);
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .footer .contacto__informacion{
    margin-top: 0;
    }
}

.footer .contacto__informacion h3{
    text-align: left;
    color: var(--blanco);
}

.footer .contacto__informacion .titulo__contacto{
    color: var(--secundario);
    text-transform: uppercase;
}

.footer .contacto__informacion .footer__horarios h3{
    text-transform: uppercase;
    font-size: 2.1rem;
}

.footer .contacto__informacion .footer__horarios{
    margin-bottom: 2rem;
}

.footer .informacion__elemento{
    margin-bottom: 1rem;
}

.footer .informacion__elemento span{
    display: block;
}

@media (min-width: 768px) {
    .footer .siguenos{
        padding: 0;
    }
    .footer .siguenos h3{
        margin-top: 0;
    }
}






.informacion{
    text-align: center;
}

@media (min-width: 768px) { 
    .informacion{
        margin: 0;
        text-align: left;
    }
}


.informacion__titulo,
.informacion__elemento{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) { 
    .informacion__titulo,
    .informacion__elemento{
        display: flex;
        align-items: left;
        justify-content: left;
    }
}


.informacion__titulo{
    flex-direction: column;
}

@media (min-width: 768px) { 
    .informacion__titulo{
        align-items: flex-start;
    }
}


.informacion__titulo h2{
    margin: 3rem auto;
}

@media (min-width: 768px) { 
    .informacion__titulo h2{
        margin: 1rem 0;
    }
    
}

.informacion__texto{
    text-align: center;
}


.informacion__elemento img{
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

@media (min-width: 768px) { 
    .informacion__elemento img{
        height: 3rem;
        width: 3rem;
        margin-right: .5rem;
    }
}


.informacion__titulo img{
    height: 10rem;
    width: 10rem;
}

@media (min-width: 768px) { 
    .informacion__titulo img{
        height: 5rem;
        width: 5rem;
    }
}


.formulario__input{
    margin-bottom: 1rem;
}

.formulario__input input,
.formulario__input textarea{
    width: 100%;
    background-color: var(--grisClaro);
    border: 1px solid #B3B3B3;
    font-size: 2rem;
    color: var(--negro);
    padding: 1rem;
}

textarea{
    height: auto;
}


.formulario button{
    background-color: var(--grisClaro);
    color: var(--primario);
}

.copyright{
    background-color: var(--grisOscuro);
    padding: 1rem 3rem;
}

.copyright p {
    margin: 0;
    color: var(--blanco);
    text-align: center;
}



#hamburger-input{
    display: none;
}


#hamburger-menu {
    /* position: fixed;  para que quede fijo en todo el recorrido en la pagina*/
    position: fixed;
    top: 35px;
    left: 20px;
    width: 4rem;
    height: 4rem;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
    background: linear-gradient(
        to bottom, 
        var(--secundario), var(--secundario) 20%, 
        rgba(1, 1, 1, .20) 20%, rgba(1, 1, 1, .20) 40%, 
        var(--secundario) 40%, var(--secundario) 60%, 
        rgba(1, 1, 1, .20) 60%, rgba(1, 1, 1, .20) 80%, 
        var(--secundario) 80%, var(--secundario) 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -25rem;
    width: 28rem;
    height: 100%;
    background-color: var(--primario);
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

#hamburger-menu h3 {
    color: var(--blanco);
    font-size: 3.6rem;
}

#hamburger-menu a {
    color: var(--blanco);
    font-size: 2rem;
    text-decoration: none;
    padding: 1.5rem 0;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid var(--claro);
}



#sidebar-menu a:last-of-type{
    border-bottom: none;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}

#hamburger-menu {
display: inline;
}

@media (min-width: 768px) { 
    #hamburger-menu {
        display: none;
    }
}

#sidebar-menu .icono__cerrar {
    width: 4rem;
    margin: 2rem 0 1rem auto;
}

#sidebar-menu .siguenos {
    margin-top: var(--separacion);
}
#sidebar-menu .siguenos .informacion__elemento{
    align-items: center;
    justify-content: flex-start;
}

#sidebar-menu .siguenos .siguenos__elemento img{
    width: 2rem;
}
#sidebar-menu .siguenos .informacion__elemento p{
    color: var(--blanco);
    font-size: 1.6rem;
    margin: 1rem;
}











/*pagina nosotros*/

/* .paginaNosotros{
    padding-bottom: 2rem;
} */

@media (min-width: 768px) { 
    .paginaNosotros{
        margin-top: var(--separacion);
    }
}

@media (min-width: 1280px) { 
    .paginaNosotros{
        margin-top: 10rem;
    }
}

.paginaNosotros__contenedor h2{
    text-align: center;
}

.paginaNosotros__informacion p{
    text-align: justify;
}

@media (min-width: 1280px) { 
    .paginaNosotros__informacion{
        width: 80%;
        margin: 0 auto;
    }
}

.paginaNosotros__informacion img{
    margin: 0 auto;
    object-fit: cover;
    margin-bottom: var(--separacion);
}


/*Pagina Galeria*/

@media (min-width: 768px) { 
    .paginaGaleria{
        margin-top: var(--separacion);
    }
}

@media (min-width: 1280px) { 
    .paginaGaleria{
        margin-top: 10rem;
    }
}



@media (min-width: 768px) { 
    .paginaGaleria__grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    }
}

@media (min-width: 1280px) { 
    .paginaGaleria__grid{
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    }
}

.cardGaleria{
    margin-bottom: 3rem;
}

@media (min-width: 768px) { 
    .cardGaleria{
        margin-bottom: 0;
        
    }
}

.cardGaleria__imagen{
    object-fit: cover;
    height: 20rem;
    width: 100%;
    /*max-width: 30rem;*/
}


.cardGaleria__nombre{
    background-color: var(--secundario);
    margin: 0;
    color: var(--negro);
    padding: 1.5rem;
}

/*pagina contacto*/

@media (min-width: 768px) { 
    .paginaContacto__informacion{
        margin-top: var(--separacion);
    }
}

@media (min-width: 1280px) { 
    .paginaContacto__informacion{
        margin-top: 10rem;
    }
}


.paginaContacto__contenedor{
    width: 90%;
    /* margin: var(--separacion) auto; */
}

@media (min-width: 1280px) { 
    .paginaContacto__contenedor{
        width: 80%;
    }
}

.paginaContacto__grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
}

@media (min-width: 768px) { 
    .paginaContacto__grid{
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
}
@media (min-width: 1280px) { 
    .paginaContacto__grid{
        grid-template-columns: repeat(3,1fr);
        place-items: center;
    }
}


.contacto__logo{
    display: none;
}

@media (min-width: 1280px) { 
    .contacto__logo{
        display: block;
    }
}



.contacto__informacion h3{
    text-align: center;
    color: var(--terciario);
}

@media (min-width: 768px) { 
    .contacto__informacion h3{
        text-align: left;
        margin-bottom: 1rem;
        margin-top: 0;
    }
}


.contacto__informacion p{
    margin: .5rem auto;
    
}

.contacto__informacion span{
    font-weight: 900;
}

.informacion__elemento{
    display: flex;
    align-items: flex-start;
}

.informacion__elemento img{
    width: 2.5rem;
    margin: 0;
}
.informacion__elemento p{
    margin-left: .5rem ;
}

.paginaContacto__formulario h4{
    color: var(--terciario);
}

@media (min-width: 768px) { 
    .datos__fila{
        display: flex;
        justify-content: flex-start;
    }

}
.datos__entrada, .listadoTour{
    margin-bottom: 2rem;
}

.datos__entrada{
    width: 100%;
    
}

@media (min-width: 768px) { 
    .datos__entrada{
margin: 1rem;
    }
}

.datos__entrada label{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.datos__entrada input,textarea{
    display: block;
    width: 100%;
    font-weight: 500;
    font-family: var(--fuenteSecundaria);
    background-color: var(--blanco);
    border: 1px solid #B3B3B3;
    font-size: 2rem;
    color: var(--negro);
    padding: 1rem;
    margin-top: .5rem;
}

.listadoTour{
    list-style: none;
    margin: 0;
    padding: 0;
}

.listadoTour__elemento{
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--fuenteSecundaria);
    margin: 1rem auto;
}

@media (min-width: 768px) { 
    .listadoTour__elemento{
        display: inline-block;
        width:33.3333%;
    }
}

/*pagina Tour*/





.paginaTour{
    margin: 0;
}
.paginaTour h2{
    text-align: center;
    /* font-weight: 400; */
}

.paginaTour__encabezado{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 0.250)), url('../img/fondoHeader.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 15rem;
    display: flex;
    align-items: flex-start;
}

@media (min-width: 768px) {
    .paginaTour__encabezado{
        height: 25rem;
        
    }
}

.paginaTour__encabezado h2{
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-size: 2.8rem;
    margin: 0;
    padding: 2rem;
}

@media (min-width: 768px) {
    .paginaTour__encabezado h2{
        
        padding-top: 7rem;
    }
}

.paginaTour__descripcion{
    margin-top: 5rem;
}

.paginaTour__descripcion{
    display: flex;
    justify-content: center;
    border-top: 2px solid var(--primario);
    border-bottom: 2px solid var(--primario);
    padding: 1rem 0;
}

@media (min-width: 1280px) {
    .paginaTour__descripcion{
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
}

.descripcion__elemento{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
}

.descripcion__elemento h4{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0 ;
    
}

.descripcion__elemento img{
    width: 5rem;
    margin: 2rem auto;
}


.infoTour__contenedor.infoTour__contenedor--100{
    width: 100%;
}

@media (min-width: 768px) {
    .infoTour__contenedor.infoTour__contenedor--100{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: center;
        gap: 2rem;
    }
}
@media (min-width: 1280px) {
    .infoTour__contenedor.infoTour__contenedor--100{
        width: 80%;
        
        grid-template-columns: 55% 45%;
        row-gap: 3rem;
    }
}

@media (min-width: 768px) {
    .carrusel.infoTour__carrusel{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    }
}
@media (min-width: 1280px) {
    .carrusel.infoTour__carrusel{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    }
}

.infoTour__descripcion
{
    width: 90%;
    margin: 2rem auto;
}

@media (min-width: 768px) {
    .infoTour__descripcion
    {
        margin: 0;
        text-align: justify;
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
}
@media (min-width: 1280px) {
    .infoTour__descripcion
    {
        margin: 0;
        text-align: justify;
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }
}



.infoTour__video{
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .infoTour__video{
        grid-column: 1/3;
    }
}
@media (min-width: 1280px) {
    .infoTour__video{
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

.infoTour__video iframe{
    width: 90%;
    height: 390px;
    display: block;
    
}

@media (min-width: 768px) {
    .infoTour__video iframe{
        width: 100%;
        height: 390px;
    }
}

@media (min-width: 1280px) {
    .infoTour__video iframe{
        width: 560px;
        height: 315px;
    }
}

@media (min-width: 768px) {
    .infoTour__descCompleta{
        margin: 3rem auto;
    }
}

@media (min-width: 768px) {
    .infoTour__IncluyePrecios{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        align-items: center;
    }
}

.incluye__elemento::before,
.horarios p::before,
.recomendaciones p::before{
    content: ' ';
    background: url(../img/iconos/icono_flecha.svg) no-repeat 0 0;
    background-position: center;
    background-size: 2rem;
    height: 2rem;
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
}

.incluye h3{
    text-align: center;
}

.precios h3{
    text-align: center;
    background-color: var(--secundario);
    margin: 0 auto;
    padding: 1rem 0;
}

.precios h4 {
    background-color: var(--gris);
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0;
}

@media (min-width: 768px) {
    .precios h4 {
        font-size: 1.8rem;
    }
}

@media (min-width: 1280px) {
    .precios h4 {
        font-size: 2rem;
    }
}

.precios h4:last-of-type {
    border-top: 1px solid var(--gris);
    border-bottom: 1px solid var(--gris);
}

.precios__tabla{
    border: 1px solid var(--gris);
}

.precios__lista {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.precios__lista li,
.precios__lista li:nth-child(odd){
    padding: 1rem 0;
    border-bottom: 1px solid var(--gris);
}

.precios__lista li:first-child{
    border-top: 1px solid var(--gris);
}

.precios__lista li:last-child{
    border-bottom: 1px solid var(--gris);
    border-top:  0;
}

.precios__lista li:nth-child(odd){
    background-color: var(--blanco);
}


.infoTour__agendar{
    /* background-color: var(--gris); */
    background-color: #e4e4e4;
    margin: 3rem auto;
    padding: 1rem;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .infoTour__agendar{
        width: 40rem;
    }
}

.infoTour__botonAgendar{
    margin: 2rem;
    background-color: var(--secundario);
    box-shadow: 8px 8px 17px -8px rgba(0,0,0,0.49);
}

.infoTour__iconoAgendar{
    width: 8rem;
    margin: 0 auto;
}

.infoTour__agendar a{
    color: var(--negro);
    font-size: 3rem;
    transition-property: color;
    transition-duration: .3s;
}

.infoTour__agendar a:hover{
    color: var(--blanco);
    
}


/*ELEMENTO SIGUENOS*/
.siguenos{
    padding: 2rem 0;
}


.siguenos h3{
    text-transform: uppercase;
    color: var(--blanco);
    font-size: 2.1rem;
    font-weight: 900;
}

.siguenos__elemento{
    padding: .7rem;
    background-color: rgba(255,255,255,0.15);
    display: inline-block;
    border-radius: 50%;
    margin: 0 .5rem;
    transition-property: background-color;
    transition-duration: .5s;
}

.siguenos__elemento:hover{
    cursor: pointer;
    background-color: var(--terciario);
}

.siguenos__elemento img{
    width: 4rem;
}

@media (min-width: 768px) {
    .siguenos__elemento img{
        width: 2.5rem;
    }
}