:root{
    /** Colores **/
    --primario: #4D2C01;
    --secundario: #FFBC01;
    --terciario: #BE6C00;
    --claro: #DDC087;
    --gris: #BBBBBB;
    --grisClaro: #E8EAE3;
    --grisOscuro: #333333;
    --blanco: #FFF;
    --negro: #1F1E1E;
    
    /** Fuentes **/
    --fuentePrincipal: 'Ubuntu', sans-serif;
    --fuenteSecundaria: 'Open Sans', sans-serif;
    
    /*Separación*/
    --separacion: 5rem;
}


/************************* UTILIDADES *******************************/
.text-center{
    text-align: center;
}

.text-white{
    color: var(--blanco);
}

.text-dark{
    color: var(--negro);
}

.mayus{
    text-transform: uppercase;
}

.boton-light:hover,
.boton-dark:hover,
.boton-book:hover{
    cursor: pointer;
}

.boton-light,
.boton-dark{
    border-radius: 1rem;
    transition-property: color;
    transition-duration: .3s;
}

.boton-light{
    background-color: var(--blanco);
    color: var(--negro);
    padding: 1rem;
    width: 100%;
    display: block;
    text-align: center;
    margin: 2rem auto;
}

.boton-light:hover{
    color: var(--terciario);
}

@media (min-width: 768px) { 
    .boton-light{
        padding: 1rem 3rem;
        display: inline;
        margin-bottom: 0;
    }
}

.boton-dark{
    background-color: var(--terciario);
    color: var(--grisClaro);
    padding: 1rem;
    width: 100%;
    display: block;
    text-align: center;
    margin: 2rem auto;
}

.boton-dark:hover{
    color: var(--primario);
}

@media (min-width: 768px) { 
    .boton-dark{
        padding: 1rem 3rem;
        display: inline;
        margin-bottom: 0;
    }
}

.boton-book{
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem;
    font-weight: 900;
    width: 100%;
}

@media (min-width: 768px) { 
    .boton-book{
        width: 20rem;
        margin: 2rem 0;
    }
}

.icono{
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
}

.anim--scale{
    transition-property: transform;
    transition-duration: .3s;
}

.anim--scale:hover{
    transform: scale(1.1);
}
/************************* FIN UTILIDADES *******************************/
